<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <description>Public Notice Archiving</description>
    <display-name>glScanDB</display-name>
    <servlet>
        <servlet-name>Actions</servlet-name>
        <servlet-class>glscandb.controls.Actions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ParamsSCls</servlet-name>
        <servlet-class>glscandb.controls.ParamsSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserMgrSCls</servlet-name>
        <servlet-class>glscandb.controls.UserMgrSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSCls</servlet-name>
        <servlet-class>glscandb.controls.UploadSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DwloadSCls</servlet-name>
        <servlet-class>glscandb.controls.DwloadSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NoticeSCls</servlet-name>
        <servlet-class>glscandb.controls.NoticeSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NListSCls</servlet-name>
        <servlet-class>glscandb.controls.NListSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxActions</servlet-name>
        <servlet-class>glscandb.controls.AjaxActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JAllocSCls</servlet-name>
        <servlet-class>glscandb.controls.JAllocSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RptActions</servlet-name>
        <servlet-class>glscandb.controls.RptActions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CSubMgrSCls</servlet-name>
        <servlet-class>glscandb.controls.CSubMgrSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CUserMgrSCls</servlet-name>
        <servlet-class>glscandb.controls.CUserMgrSCls</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajxCRReqSCls</servlet-name>
        <servlet-class>glscandb.controls.ajxCRReqSCls</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Actions</servlet-name>
        <url-pattern>/Actions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParamsSCls</servlet-name>
        <url-pattern>/ParamsSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserMgrSCls</servlet-name>
        <url-pattern>/UserMgrSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSCls</servlet-name>
        <url-pattern>/UploadSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DwloadSCls</servlet-name>
        <url-pattern>/DwloadSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NoticeSCls</servlet-name>
        <url-pattern>/NoticeSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NListSCls</servlet-name>
        <url-pattern>/NListSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxActions</servlet-name>
        <url-pattern>/AjaxActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JAllocSCls</servlet-name>
        <url-pattern>/JAllocSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RptActions</servlet-name>
        <url-pattern>/RptActions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CSubMgrSCls</servlet-name>
        <url-pattern>/CSubMgrSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CUserMgrSCls</servlet-name>
        <url-pattern>/CUserMgrSCls</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajxCRReqSCls</servlet-name>
        <url-pattern>/ajxCRReqSCls</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
